{% extends 'base.html' %}
{% block content %}
<h1>Добавление товаров</h1><br>
<form class="js-good-create-form" method="POST" action="{% url 'lesson4:good_create' %}" >
    {% csrf_token %}
    <div class="modal-body">
        {% include 'form.html' %}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Create good</button>
    </div>
</form>
{% endblock %}